<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:title" content="Odyssey'20 | The Annual Cultural Fest of IIITD" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="Odyssey'20 | The Annual Cultural Fest of IIITD" />
        <link rel="canonical" href="https://odyssey.iiitd.edu.in/" />
        <meta property="og:url" content="https://odyssey.iiitd.edu.in/" />
        <meta property="og:site_name" content="Odyssey'20 | The Annual Cultural Fest of IIITD" />
        <meta name="description" content="Odyssey'20 | The Annual Cultural Fest of IIITD" />
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
        <script type="application/ld+json">
            {"url":"https://odyssey.iiitd.edu.in/","headline":"Odyssey'20 | The Annual Cultural Fest of IIITD","name":"Odyssey'20 | The Annual Cultural Fest of IIITD","description":"Odyssey'20 | The Annual Cultural Fest of IIITD","@type":"WebSite","@context":"https://schema.org"}
        </script>
        <script>
            if(!(window.doNotTrack === "1" || navigator.doNotTrack === "1" || navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1")) {
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            
                ga('create', 'UA-140913461-2', 'auto');
                ga('send', 'pageview');
            }
        </script>
        <title>Odyssey'20 | The Annual Cultural Fest of IIITD</title>
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat:300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/main9.css">
    </head>
    
    <body class="no-scroll">
        
        <div class="preloader text-white">
            <img src="/static/images/logo2.png" class="img-fluid preloadLogo preloadLogoBottom">
            <img src="/static/images/logo2.png" class="img-fluid preloadLogo preloadLogoUpper">
        </div>

        {% block content %}

        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/static/js/skrollr.min.js"></script>
        <script src="/static/js/main1.js"></script>

        <script>
            
            var mobileUI = false;
            
            $(window).on('load', function() {
                $(".preloader").delay(500).fadeOut("slow", function(){
                    $('body').css({'overflow-y':'auto', 'height':'auto', 'position':'relative'});
                    loadAnimation();
                });
            })

            var s = skrollr.init({
	            keyframe: function(element, name, direction) {
                    
                    var dic = {
                        data3p: "0",
                        data99p: "1",
                        data199p: "2",
                        data299p: "3",
                        data100End: "4"
                    }
                    $($(".activeTab")[0]).removeClass("activeTab")
                    $($($(".vertical-nav")[0]).children()[dic[name]]).addClass("activeTab")
                }
            });
            if(s.isMobile()){
                s.destroy();
                mobileUI = true;
            }
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            function openSideNav() {
                $("#sideNav").css("transform", "translateX(0%)");
                $('body').css('overflow', 'hidden');
            }
            function closeSideNav() {
                $("#sideNav").css("transform", "translateX(100%)");
                $('body').css('overflow', 'auto');
            }
        </script>

        {% block scripts %}
        {% endblock %}

    </body>
</html>
