<div class="footer py-5" id="footerId">
        <div class="container light">
            <div class="row">
                <div class="col-12  col-lg-4">
                    <p class="mb-1 text-white h5 stretch"><b>FOLLOW US</b></p>   
                    <div class="col h-100 flex-1 px-0">  
                        <ul class="p-0 d-flex align-items-end flex-column h-100 mb-0" style="list-style: none;">
                            <li class="w-100"><a href="https://www.facebook.com/odyssey.iiitd/" target="_blank" class="no-decoration small text-white">Facebook<img src="/static/img/link-arrow.svg" class="ml-2" width="20px" alt=""></a></li>
                            <li class="w-100"><a href="https://www.instagram.com/iiitdodyssey/" target="_blank" class="no-decoration small text-white">Instagram<img src="/static/img/link-arrow.svg" class="ml-2" width="20px" alt=""></a></li>
                            <li class="w-100 mt-5 d-none d-lg-block"><a href="/privacy-policy/" class="no-decoration small text-white">Privacy Policy</a></li>
                        </ul>          
                    </div>
                </div>
                <div class="col-12 col-lg-8 mt-4 mt-lg-0">
                    <p class="mb-1 text-white h5 stretch"><b>SITEMAP</b></p>
                    <div class="row">
                        <div class="col-6">
                            <ul class="p-0 mb-0" style="list-style: none;">
                                <li><a href="/#home" class="no-decoration small text-white">Home</a></li>
                                <li><a href="/#about" class="no-decoration small text-white">About Us</a></li>
                                <li><a href="/#events" class="no-decoration small text-white">Events</a></li>
                                <li><a href="/#sponsors" class="no-decoration small text-white">Sponsors</a></li>
                                <li class="w-100"><a href="/#team" class="no-decoration small text-white">Team</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="p-0 mb-0 d-flex flex-column align-items-end h-100" style="list-style: none;">
                                <li class="w-100"><a href="/schedule/" class="no-decoration small text-secondary" onclick="event.preventDefault()">Schedule</a></li>
                                <li class="w-100"><a href="/faqs/" class="no-decoration small text-white text-secondary" onclick="return false;">FAQs</a></li>
                                <li class="w-100 mt-auto d-block d-lg-none"><a href="/privacy-policy" class="no-decoration small text-white">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>