{% extends "base.html" %}

{% block content %}

{% include "navslider.html" %}

<div class="container-fluid full-page">
    <div class="row section-1" id="home">
        <div class="col text-center justify-content-center align-items-center d-flex flex-column">
            <div class="social-icons no-show fast rounded d-none d-lg-block">
                <div class="w-100 p-1 mr-2 my-0 mt-1"><a href="https://www.facebook.com/odyssey.iiitd/" target="_blank" class="no-decoration small text-white"><img src="/static/img/fb.png" class="ml-2" width="50px" alt=""></a></div>
                <div class="w-100 p-1 mr-2 my-0 mb-1"><a href="https://www.instagram.com/iiitdodyssey/" target="_blank" class="no-decoration small text-white"><img src="/static/img/IG.png" class="ml-2" width="50px" alt=""></a></div>
            </div>
            <a href="/#home" style="z-index: 999"><img src="/static/images/logo2.png" class="img-fluid homelogo no-show faster"></a>
            <img src="/static/images/retro.png" class="retrotitle no-show fast" alt="">
            <div class="recreateContainer no-show fast">
                <img src="/static/images/recreate.png" class="img-fluid recreate" alt="">
            </div>
            <img src="/static/images/gutter12.png" class="gutter12 no-show faster d-none d-lg-block" alt="">
            <img src="/static/images/gutter12m.png" class="gutter12m gutter12 no-show faster d-block d-lg-none" alt="">
            <img src="/static/images/odyssey.png" style="z-index: 2" class="img-fluid hometitle no-show py-3 px-4" alt="">
            <img src="/static/images/date2.png" style="z-index: 2" class="img-fluid dateimage no-show py-3 px-4" alt="">
            <img src="/static/images/mouse.svg" width="30px" class="godown no-show fast d-none d-lg-block" style="position: absolute; bottom: 30px; cursor: pointer; z-index: 10;" onclick="window.location.href='/#about'" alt="">
        </div>
    </div>
    <div class="px-2 pt-3 pt-md-5 row section-2" data-emit-events id="about">
        <div class="col text-center justify-content-center align-items-center d-flex flex-column">
            <div class="row mb-5 pb-5">
                <div class="col-12 col-md-4 px-0 px-md-3 ml-lg-3 justify-content-center align-items-center d-flex flex-column tv-box no-show faster">
                    <img src="/static/images/about.png" class="img-fluid w-50 mt-3" alt="">
                    <div class="mt-3" data-toggle="modal" data-target=".video-modal-lg">
                        <img src="/static/images/yt-placeholder.png" class="yt-image" style="cursor: pointer" width="100%" class="imageForVideo" alt="s">
                    </div>
                </div>
                <div class="col-12 col-md-6 light stretch text-white text-left aboutText justify-content-end align-items-center d-flex flex-column">
                    <p class="mb-3 mt-3 mt-md-0 aboutText1 no-show faster">IIIT Delhi's Odyssey celebrates the essence and beauty of culture and of it's arts. It celebrates the Actor, the Dancer, the Musician, the Writer and the Designer, with over 45 events and a footfall of 25,000+. Having staged popular performances like Prateek Kuhad, Gajendra Verma, Hardy Sandhu, The Local Train, Euphoria, Zakir Khan and Bhuvan Bam, Odyssey always reaches out to the youth with it's inspiring, ever growing attitude. </p>
                    <p class="mb-3 d-none d-md-block aboutText2 no-show fast">Feel the adrenaline rush, the pumping of you blood as We bring to you yet another spectacular edition of the 2 day event. Come participate, experience and feel the excitement as you watch the star with close proximity or see the different competitions. Come and make numerous and unforgettable memories and at Odyssey.</p>
                    <p class="mb-3 aboutText3 no-show">And this year as we together walk down the campus, let's all add to the symphony of memories we've built here. Come join us in our pursuit of cherishing an interlude of eras.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row section-3" id="events" >
        <div class="topbar">
            <div class="container-fluid px-lg-5 text-yellow justify-content-center justify-content-lg-start align-items-center d-flex h-100">
                <img src="/static/img/hourglass.svg" class="img-fluid d-none d-lg-block hrglass no-show fast" style="height: 60%" alt="">
                <p class="m-0 pl-3 stretch d-none d-lg-block no-show fast" id="datetime">15:23:41</p>
                <p class="m-0 stretch computer no-show faster" style="position: absolute; left: 50%; transform: translateX(-50%)">My Computer</p>
            </div>
        </div>
        <div class="monitor text-yellow">
            <img src="/static/images/pacman2.png" class="pacman no-show fast" alt="">
            <div class="popup col-10 col-lg-5 main-popup no-show faster px-2 pb-2">
                <div class="popup-buttons my-1" style="position: relative">
                    <img src="/static/img/close.svg" width="20px" class="img-fluid bg-popmain p-1" alt="">
                    <img src="/static/img/square.svg" width="20px" class="img-fluid bg-popmain p-1" alt="">
                    <img src="/static/img/minus.svg" width="20px" class="img-fluid bg-popmain p-1" alt="">
                    <p class="m-0 stretch" style="position: absolute; left: 50%; transform: translateX(-50%); top: 0"><span class="d-none d-md-block">Awesome Events</span><span class="d-md-none">Events</span></p>
                </div>
                <div class="bg-popmain p-2 p-lg-3">
                    <div class="row">
                        <div class="col-4 col-lg-4 py-1 text-center" >
                            <a href="/#theater" class="link-yellow">
                                <img src="/static/img/folder.svg" class="img-fluid" width="40%" alt="">
                                <p>Theater </p>
                            </a>
                        </div>
                        <div class="col-4 col-lg-4 py-1 text-center" >
                            <a href="/#dance" class="link-yellow">
                                <img src="/static/img/folder.svg" class="img-fluid" width="40%" alt="">
                                <p>Dance</p>
                            </a>
                        </div>
                        <div class="col-4 col-lg-4 py-1 text-center" >
                            <a href="/#fun" class="link-yellow">
                                <img src="/static/img/folder.svg" class="img-fluid" width="40%" alt="">
                                <p>Fun</p>
                            </a>
                        </div>
                        <div class="col-4 col-lg-4 py-1 text-center" >
                            <a href="/#literary" class="link-yellow">
                                <img src="/static/img/folder.svg" class="img-fluid" width="40%" alt="">
                                <p>Literary</p>
                            </a>
                        </div>
                        <div class="col-4 col-lg-4 py-1 text-center" >
                            <a href="/#arts" class="link-yellow">
                                <img src="/static/img/folder.svg" class="img-fluid" width="40%" alt="">
                                <p>Arts</p>
                            </a>
                        </div>
                        <div class="col-4 col-lg-4 py-1 text-center" >
                            <a href="/#gaming" class="link-yellow">
                                <img src="/static/img/folder.svg" class="img-fluid" width="40%" alt="">
                                <p>Gaming</p>
                            </a>
                        </div>
                        <div class="col-4 col-lg-4 py-1 text-center" >
                            <a href="/#lifestyle" class="link-yellow">
                                <img src="/static/img/folder.svg" class="img-fluid" width="40%" alt="">
                                <p>Lifestyle</p>
                            </a>
                        </div>
                        <div class="col-4 col-lg-4 py-1 text-center" >
                            <a href="/#photography" class="link-yellow">
                                <img src="/static/img/folder.svg" class="img-fluid" width="40%" alt="">
                                <p>Photography</p>
                            </a>
                        </div>
                        <div class="col-4 col-lg-4 py-1 text-center" >
                            <a href="/#music" class="link-yellow">
                                <img src="/static/img/folder.svg" class="img-fluid" width="40%" alt="">
                                <p>Music</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup col-10 col-lg-3 secondary-popup no-show faster px-2 pb-2" style="z-index: 5">
                <div class="popup-buttons my-1" style="position: relative">
                    <img src="/static/img/closeb.svg" style="cursor: pointer" onclick="closeSecondary()" width="20px" class="img-fluid bg-popmain p-1" alt="">
                    <img src="/static/img/squareb.svg" width="20px" class="img-fluid bg-popmain p-1" alt="">
                    <img src="/static/img/minusb.svg" width="20px" class="img-fluid bg-popmain p-1" alt="">
                    <p class="m-0 stretch" style="position: absolute; left: 50%; transform: translateX(-50%); top: 0; color: white">Nirvana Night</p>
                </div>
                <div class="bg-popsecondary text-white p-2 p-lg-3">
                    <p class="m-0 text-left stretch px-1">With songs that pull at our heart strings, melody that resonates within us and  voice that makes us swoon, we present <b>Jubin Nautiyal</b>, as our Nirvana Star!</p>
                </div>
            </div>
            <div class="popup top-popup px-2 pb-2 faster no-show d-none" style="z-index: 6">
                <div class="popup-buttons my-1" style="position: relative">
                    <img src="/static/img/close.svg" width="20px" class="img-fluid bg-popmain p-1 popClose" style="cursor: pointer" onclick="closePopup()" alt="">
                    <img src="/static/img/square.svg" width="20px" class="img-fluid bg-popmain p-1" alt="">
                    <img src="/static/img/minus.svg" width="20px" class="img-fluid bg-popmain p-1" alt="">
                    <p class="m-0 stretch" style="position: absolute; left: 50%; transform: translateX(-50%); top: 0" id="eventTitle"></p>
                </div>
                <div class="bg-popmain p-2 p-lg-3" style="overflow-y: scroll; height: 94%; overflow-x: hidden">
                    <div class="row" id="eventList">
                        
                    </div>
                </div>
            </div>
            <img src="/static/nirvanaImg/Gajju2.2.jpg" class="img-fluid d-none d-lg-block" style="width: 15%; position: absolute; top: 8%; left: 6%;" alt="">
            <img src="/static/nirvanaImg/Haider_Hardy (1).jpg" class="img-fluid d-none d-lg-block" style="width: 20%; position: absolute; top: 7%; right: 10%" alt="">
            <img src="/static/nirvanaImg/PK2.jpg" class="img-fluid d-none d-lg-block" style="width: 18%; position: absolute; bottom: 30%; left: 2%" alt="">
            <img src="/static/nirvanaImg/img_1ea0abf54444d501d4b2c9ef2f9222a5_1499069001603_original.jpg" class="img-fluid d-none d-lg-block" style="width: 21%; position: absolute; right: 8%; bottom: 7%; z-index: 1;" alt="">
            <img src="/static/nirvanaImg/img_974847bcd07c08f7ef46b3958567c0be_1498748267458_original.jpg" class="img-fluid d-none d-lg-block" style="width: 20%; position: absolute; bottom: 15%; left: 4%;" alt=""> 
        </div>
    </div>
    <div class="row section-4">
        <div class="col-12 bw-bg">
            <div class="pb-4 pb-lg-5 d-flex flex-column justify-content-end align-items-center" style="height: 50%" id="sponsors">
                <img src="/static/images/the_sponsors.png" class="img-fluid titles no-show faster spoTitle delays" alt="">
                <p class="text-white light strech h1 display-4 text-center py-3 no-show faster spoText">Our Proud <a href="/sponsors" class="text-white underline"> Sponsors</a></p>       
            </div>
            <div class="pt-4 pt-lg-5 d-flex flex-column justify-content-top align-items-center" style="height: 50%" id="team">
                <p class="text-white light strech h1 display-4 text-center py-3 no-show faster teamText">Meet the <a href="/team" class="text-white underline"> Team</a></p>                       
                <img src="/static/images/the team.png" class="img-fluid titles no-show faster teamTitle delays" alt="">
            </div>
        </div>
    </div>
</div>

<div class="rewindContainer fast no-show d-none">
    <img src="/static/images/rewind.gif" class="h-100 w-100 img-fluid" style="opacity: 0.95" alt="">
</div>


<div style="position: fixed; top: 0; left: 0; z-index: 999; width: 100vw; height: 100vh; background: rgba(22, 25, 27, 0.839)" class="d-flex align-items-center justify-content-center d-none no-show faster" id="starContainer">
    <div style="position: relative" class="no-show faster" id="starImageBox">
        <img src="/static/img/star.png" style="max-height: 80vh; max-width: 90vw;" class="img-fluid" alt="">
        <p class="text-white stretch btn" onclick="closeStar()" style="position: absolute; top: 0; right: 0; transform: translateX(50%) translateY(-50%)"><img src="/static/img/error.svg" class="closeBtn" alt="CLOSE"></p>
    </div>
    <div style="position: absolute;" class="text-white bg-dark py-3 px-4 p-lg-5 rounded ruleContainer no-show faster">
        <p class="mb-2 h5 font-weight-bold">Register <a href="https://bit.ly/NirvanaNight" class="text-white underline">here</a> to attend the night!</p>
        <p class="mb-1"><b>Entry is free</b>, all you need to do is: </p>
        <ul class="m-0 p-0 small">
            <li>Bring a Valid College/organisation ID</li>
            <li>Register at link above</li>
            <li>Follow us at <a href="https://www.instagram.com/iiitdodyssey/" target="_blank" class="underline text-white">instagram</a> and like us on <a href="https://www.facebook.com/odyssey.iiitd/" target="_blank" class="text-white underline">facebook</a></li>
        </ul>
    </div>
</div>

{% include "footer.html" %}

<div class="modal fade video-modal-lg" id="videoModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close no-btn-shadow" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>        
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen="" allowscriptaccess="always" allow="autoplay"></iframe>
                </div>             
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    
    $(document).ready(function() {
        var videoSrc = "https://www.youtube.com/embed/vwAFdVzoagY";
        var animated2 = false;
        var animated3 = false;
        var animated4 = false;
        $('#videoModal').on('shown.bs.modal', function (e) {
            $("#video").attr('src',videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0" ); 
        });
        $('#videoModal').on('hide.bs.modal', function (e) {
            $("#video").attr('src',videoSrc); 
        });

        if(!mobileUI) {

            timeNow();

        }

        var heightWindow = $(window).height();

        $.fn.isInViewport = function() {
            var elementTop = $(this).offset().top;
            var elementBottom = elementTop + $(this).outerHeight();            
            var viewportTop = $(window).scrollTop() + heightWindow * 70 / 100
            var viewportBottom = viewportTop + $(window).height();
            return elementTop <= viewportTop && elementBottom >= viewportTop;
        };

        $(window).on('resize scroll', function() {
            if((firstAnimate == 0 || firstAnimate == 1) && !animated2 && $('#about').isInViewport()) {
                loadAbout();
                animated2 = true;
                firstAnimate = 0;
            }
            if((firstAnimate == 0 || firstAnimate == 2) && !animated3 && $('#events').isInViewport()) {
                rewindAnimation(function() {
                    loadEvent();
                });
                animated3 = true;
                firstAnimate = 0;
            }
            if((firstAnimate == 0 || firstAnimate == 3) && !animated4 && ($('#sponsors').isInViewport() || $('#team').isInViewport())) {
                loadLast();
                animated4 = true;
                firstAnimate = 0;
            }
        })

        function timeNow() {
            var d = new Date();
            var h = (d.getHours()<10?'0':'') + d.getHours();
            var m = (d.getMinutes()<10?'0':'') + d.getMinutes();
            var s = (d.getSeconds()<10?'0':'') + d.getSeconds();
            document.getElementById('datetime').innerHTML = h + ':' + m + ':' + s;
            var t = setTimeout(timeNow, 500);
        }

    });

    function closeStar() {
        animateCSS("#starContainer", 'fadeOut', function() {
            $("#starContainer").removeClass('d-flex');
            $("#starContainer").addClass('no-show');
        });
    }

    function loadLast() {
        animateCSS('.spoTitle', 'fadeInUp', function() {
            animateCSS('.spoText', 'fadeInUp')
        })
        animateCSS('.teamTitle', 'fadeInDown', function() {
            animateCSS('.teamText', 'fadeInDown');
        })
    }

    function loadAbout() {
        animateCSS('.tv-box', 'fadeIn', function() {
            animateCSS('.aboutText1', 'fadeInLeft')  
            animateCSS('.aboutText2', 'fadeInLeft')
            animateCSS('.aboutText3', 'fadeInLeft')
        })
    }

    function rewindAnimation(callback) {
    
        $(".rewindContainer").removeClass("d-none");
        animateCSS('.rewindContainer', 'slideInRight', function() {
            setTimeout(function() {
                animateCSS('.rewindContainer', 'fadeOut', function() {
                    $(".rewindContainer").addClass("no-show");
                    $(".rewindContainer").addClass("d-none");
                    callback();
                })
            }, 100);
        }) 
    }

    function loadEvent() {
        animateCSS('.hrglass', 'rotateIn')  
        animateCSS('#datetime', 'fadeIn')  
        animateCSS('.computer', 'fadeIn', function(){
            animateCSS('.main-popup', 'zoomIn', function(){
                animateCSS('.secondary-popup', 'zoomIn');
                animateCSS(".pacman", 'bounceIn')
            })
        })  
    }

    function loadAnimation() {

        if(mobileUI) {
            animateCSS('.homelogo', 'fadeInLeft');
            animateCSS('.navbar', 'fadeInRight')
            animateCSS('.gutter12m', 'fadeInUp', function() {
                $('.hometitle').removeClass("no-show");
                $('.dateimage').removeClass("no-show");
                animateCSS('.retrotitle', 'zoomIn');
                animateCSS('.recreateContainer', 'zoomIn', function(){
                    $('.recreate').css('animation', 'glitch 0.3s linear')
                    $('.recreate').css('animation-iteration-count', '4')
                    
                    $('.recreateContainer').css('animation', 'glitchVap 0.3s linear')
                    $('.recreateContainer').css('animation-iteration-count', '4')
                    
                    animateCSS('#starContainer', 'fadeIn', function() {
                        animateCSS('#starImageBox', 'bounceIn', function() {
                            animateCSS(".ruleContainer", 'slideInUp');
                        });
                        takeToTab(window.location.hash);
                    });
                    
                });
            })
        }else{
            animateCSS('.homelogo', 'fadeInRight')
            animateCSS('nav', 'fadeInRightBig', function() {
                animateCSS('.gutter12', 'fadeInUp', function() {
                    animateCSS('.hometitle', 'fadeInUp');
                    animateCSS('.dateimage', 'fadeInUp', function(){
                        animateCSS('.godown', 'fadeInUp');
                    });
                    animateCSS('.retrotitle', 'zoomIn');
                    animateCSS('.recreateContainer', 'zoomIn', function(){
                        $('.recreate').css('animation', 'glitch 0.3s linear')
                        $('.recreate').css('animation-iteration-count', '4')
                        
                        $('.recreateContainer').css('animation', 'glitchVap 0.3s linear')
                        $('.recreateContainer').css('animation-iteration-count', '4')
                        animateCSS('#starContainer', 'fadeIn', function() {
                            
                            animateCSS('#starImageBox', 'bounceIn', function() {
                                animateCSS(".ruleContainer", 'slideInUp');
                            });
                            takeToTab(window.location.hash);
                        });
                    });
                })
            })
        }

        animateCSS('.social-icons', 'fadeInLeft')

    }

    $(".link-yellow").on('click', function() {
        var s = this.href.split("#")[1];
        populatePopup(s);
        animateCSS('.top-popup', 'zoomIn', function() {
            setTimeout(function(){
                animateCSS('.popClose', 'swing')
            }, 300)
        });
        $('.top-popup').removeClass("d-none");
    });

    var eventData = {
        "theater": null,
        "dance": null,
        "fun": null,
        "photography": null,
        "arts": null,
        "gaming": null,
        "lifestyle": null,
        "music": null,
    }
    
    function closePopup() {
        animateCSS('.top-popup', 'zoomOut', function() {
            $('.top-popup').addClass("no-show");              
            $('.top-popup').addClass("d-none");              
        });
    }

    function closeSecondary() {
        animateCSS('.secondary-popup', 'zoomOut', function() {
            $('.secondary-popup').addClass("no-show");              
            $('.secondary-popup').addClass("d-none");              
        });
    }

    function populatePopup(s) {
        $("#eventTitle").html(s);
        if(eventData[s] == null) {
            $.ajax({
                method: 'GET',
                url: "/api/" + s,
                success: function(result) {
                    eventData[s] = result;
                    populateEventPanel(result, s);
                }
            });
        }
        else {
            populateEventPanel(eventData[s], s);
        }
    }

    function populateEventPanel(data, eCat) {
        $("#eventList").empty();
        for(var i = 0; i < data.length; i++) {
            var eve = data[i];
            var ele = '<div class="col-12 col-lg-4 py-2 text-center"><a href="/' + eCat + '/' + eve.id + '" target="_blank" class="link-yellow"><img src="/static' + eve.img + '" class="img-fluid" width="100%" alt=""></a></div>'
            $("#eventList").append(ele);
        }
    }

    var excludeLinks = ["theater", "dance", "fun", "photography", "literary", "arts", "gaming", "lifestyle", "music"]
    var firstAnimate = 0;

    function takeToTab(tabName) {
        if(tabName != "") {
            if(excludeLinks.includes(tabName.split("#")[1])){
                var elmnt = document.getElementById("events");
                elmnt.scrollIntoView();
                firstAnimate = 2;
            }
            else{
                var tName = tabName.split("#")[1];
                var elmnt = document.getElementById(tName);
                if(tName == "events") {
                    firstAnimate = 2;
                }
                else if(tName == "about") {
                    firstAnimate = 1;
                }
                else if(tName == "sponsors" || tName == "team") {
                    firstAnimate = 3;
                }
                elmnt.scrollIntoView();
            }
        }
    }

</script>
{% endblock %}
