<nav class="d-none d-lg-block no-show fast">
    <div class="vertical-nav-progress" 
        data-3p="height: 0vh;"
        data-99p="height: 15vh;"
        data-199p="height: 25vh;"
        data-299p="height: 35vh;"
        data-100-end="height: 50vh;"
        data-emit-events 
    >&nbsp;</div>
    <div class="vertical-nav-progress">&nbsp;</div>
    <ul class="vertical-nav">
        <li class="activeTab"><a href="#home" data-name="Home">&nbsp;</a></li>
        <li><a href="#about" data-name="About">&nbsp;</a></li>
        <li><a href="#events" data-name="Events">&nbsp;</a></li>
        <li><a href="#sponsors" data-name="Sponsors">&nbsp;</a></li>
        <li><a href="#team" data-name="Team">&nbsp;</a></li>
    </ul>
    </nav>

    <nav class="navbar no-show faster d-block d-lg-none fixed-top" style="z-index: 998;">
        <div class="container-fluid px-0 mt-1">
            <button class="btn btn-link no-btn-shadow ml-auto" onclick="openSideNav()">
                <img src="/static/img/menu.svg" height="30px" alt="">
            </button>
        </div>
        <div class="side-nav container d-flex align-items-start justify-content-center" style="z-index: 998; overflow-x: hidden; overflow-y: auto" id="sideNav">
            <div class="row mt-3 w-100">
                <div class="col text-right px-0">
                    <button class="btn btn-link no-btn-shadow" data-tilt data-tilt-scale="1.1" onclick="closeSideNav()">
                        <img src="/static/img/right-arrow.svg" height="30px" alt="">
                    </button>
                </div>
            </div>
            <div class="row w-100">
                <div class="col px-0 text-right">
                    <ul class="list-group list-group-flush pt-3">
                        <li class="list-group-item bg-transparent border-0"><a onclick="closeSideNav()" href="/#home" class="side-nav-links stretch light">HOME</a></li>
                        <li class="list-group-item bg-transparent border-0"><a onclick="closeSideNav()" href="/#about" class="side-nav-links stretch light">ABOUT US</a></li>
                        <li class="list-group-item bg-transparent border-0"><a onclick="closeSideNav()" href="/#events" class="side-nav-links stretch light" >EVENTS</a></li>
                        <li class="list-group-item bg-transparent border-0"><a onclick="closeSideNav()" href="/#sponsors" class="side-nav-links stretch light">SPONSORS</a></li>
                        <li class="list-group-item bg-transparent border-0"><a onclick="closeSideNav()" href="/#team" class="side-nav-links stretch light">TEAM</a></li>
                        <li class="list-group-item bg-transparent border-0"><a onclick="closeSideNav()" href="/schedule" class="side-nav-links stretch light" >SCHEDULE</a></li>
                        <li class="list-group-item bg-transparent border-0"><a onclick="closeSideNav()" href="#" class="side-nav-links stretch light disabled" onclick="return false;">FAQs</a></li>
                        <!-- data-toggle="tooltip" title="Registrations Open!" data-placement="right" -->
                    </ul>
                </div>
            </div>
            <div class="row mt-auto w-100">
                <div class="col pb-4 pl-3 pl-lg-5">
                    <li class="list-group-item bg-transparent d-flex border-0 pr-0">
                        <a class="ml-auto px-2 text-white no-decoration" href="https://www.facebook.com/odyssey.iiitd/" target="_blank">facebook</a> | <a class="px-2 text-white no-decoration" href="https://www.instagram.com/iiitdodyssey/" target="_blank">instagram</a>
                        <!-- <a class="btn btn-outline-light btn-sm px-3 badge-pill no-btn-shadow light stretch ml-auto" data-tilt data-tilt-scale="1.05" href="/faqs">FAQs</a>                             -->
                        <!-- <a class="btn btn-outline-light btn-sm px-3 badge-pill no-btn-shadow light stretch ml-auto" data-tilt data-tilt-scale="1.05" data-toggle="modal" data-target=".sub-modal-lg" href="#">SUBSCRIBE</a>                             -->
                    </li>                        
                </div>
            </div>
        </div>
    </nav>