{% extends "base.html" %}

{% block content %}

    <style>
        body {
            background: black !important;
        }
    </style>

    {% include "nav.html" %}

    <div class="container text-center d-flex flex-column align-items-center justify-content-center" id="contentId">
        <img src="/static/img/undercons.svg" class="py-5 svg no-show faster" style="margin-top: 76.4px" width="70%" alt="">
        <p class="h5 light stretch text-white pb-5 text11 no-show faster"><b>Under Construction!</b> We will soon be up, go back to <a href="/" class="text-yellow text-black no-decoration border-bottom border-dark">Home</a>?</p>
    </div>

    {% include 'footer.html' %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        var offset = parseInt($("#footerId").css('height').replace('px', ''));
        var height = $(window).height() - offset;
        $("#contentId").css('min-height', height + "px");
    });
    function loadAnimation() {
        animateCSS('.svg', 'bounceIn', function() {
            animateCSS('.text11', 'fadeInUp') 
        })
    }
</script>
{% endblock %}