{% extends "base.html" %}

{% block content %}

<style>
    body {
        background: linear-gradient(90deg, #000000 30px, transparent 1%) center, linear-gradient(#000000 30px, transparent 1%) center, #F7B22C;
        background-size: 31px 31px;
        color: white;
    }

    h1,
    h2 {
        color: #F7B22C;
        padding-top: 2rem;
    }

    nav {
        background: transparent !important;
        transition-duration: 0.3s;
    }

    .footer {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
    }
</style>

{% include "nav.html" %}

<div class="container-fluid text-white light pt-4">
    <h1 class="bold text-center mb-3 mb-lg-4 pt-5"><b>Organising Committee</b></h1>
    <div class="container">
        <div class="row justify-content-center">
            {% for member in team %}
            <div class="col-12 col-md-4 col-lg-4 my-3 hoverPanel" style="position: relative">
                <img src="/static/teamImg/{{member.image}}" class="w-100 h-100 hoverImage" alt="{{member.name}}">
                <div class="text-center hoverMiddle">
                    <p class="text-white text-uppercase bold stretch h5 mb-0">{{member.position}}</p>
                    <p class="text-white text-uppercase light m-0">{{member.name}}</p>
                    <p class="m-0"><a href="mailto:{{member.email}}"
                            class="text-white light m-0 small">{{member.email}}</a></p>
                    <!-- <p class="m-0"><a href="tel:{{member.phone}}" class="text-white light m-0 small">{{member.phone}}</a></p> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <h1 class="bold text-center mb-3 mb-lg-4 mt-4"><b>Leads</b></h1>
    <div class="container">
        <div class="row justify-content-center">
            {% for member in leads %}
            <div class="col-12 col-md-3 col-lg-3 my-3 hoverPanel" style="position: relative">
                <img src="/static/teamImg/{{member.image}}" class="w-100 h-100 hoverImage" alt="{{member.name}}">
                <div class="text-center hoverMiddle">
                    <p class="text-white text-uppercase bold stretch h5 mb-0">{{member.position}}</p>
                    <p class="text-white text-uppercase light m-0">{{member.name}}</p>
                    <p class="m-0"><a href="mailto:{{member.email}}"
                            class="text-white light m-0 small">{{member.email}}</a></p>
                    <p class="m-0"><a href="tel:{{member.phone}}"
                            class="text-white light m-0 small">{{member.phone}}</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include "footer.html" %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function loadAnimation() {

    }
    $(window).on('resize scroll', function () {
        var viewportTop = $(window).scrollTop();
        if (viewportTop < 5) {
            $("nav").attr("style", "background: transparent !important");
        } else {
            $("nav").attr("style", "background: black !important");
        }
    })
</script>
{% endblock %}